<nav class="navbar navbar-expand-lg navbar-light bg-blue">
    <a class="navbar-brand" href="/">
        <img src="/img/questionsandanswers.png" width="300" height="auto">
    </a>

        </form>
    </div>
</nav>